.header{
    position: fixed;
    height: 71px;
    width: 100vw;
    box-shadow: 0px 1px 8px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A0A23;
}

